body {
  transition: background 400ms ease-in-out;
  @media (max-width: 650px) {
    background: $color2;
  }
}

.content {
  width: calc(100vw - 200px);
  padding-bottom: 50px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  &.menu--active {
    width: calc(100vw - 400px);
    @media (max-width: 650px) {
      width: calc(100vw - 200px);
    }
  }
  @media (max-width: 650px) {
    width: 100vw;
    margin-left: 0;
  }

  .palette {
    width: 9.5%;
    height: 65px;
    margin: 20px 1.5%;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 100ms ease-out;
    cursor: pointer;
    position: relative;
    backface-visibility: hidden;
    &:hover {
      transform: scale(1.1);
      transition: all 100ms ease-in;
      box-shadow: 0 10px 40px rgba(0,0,0,0.15);
      @media (max-width: 650px) {
        transform: scale(1);
      }
    }
    @media (max-width: 2200px) {
      width: 11.2857142857%;
    }
    @media (max-width: 1900px) {
      width: 13.6666666667%;
    }
    @media (max-width: 1500px) {
      width: 20%;
      margin: 20px 2.5%;
    }
    @media (max-width: 1200px) {
      width: 28.3333333333%;
    }
    @media (max-width: 900px) {
      width: 45%;
    }
    @media (max-width: 650px) {
      width: 95%;
    }
    .color {
      width: 25%;
      height: 65px;
    }
    #favourite {
      position: absolute;
      top: -12px;
      left: -12px;
      fill: $color5;
    }
  }
  .palette__details {
    background: $color1;
    height: 100vh;
    width: 200px;
    z-index: 2;
    position: fixed;
    top: 0;
    right: -200px;
    transition: all 200ms ease-out;
    overflow-y: hidden;
    &.active {
      right: 0;
      box-shadow: -10px 0 25px rgba(0,0,0,0.15);
      transition: all 150ms ease-in;
    }
    .top {
      margin: 10px 10px 0 10px;
      text-align: right;
      position: relative;
      .sidebar__favourite--add,
      .sidebar__favourite--remove {
        background: none;
        padding: 0;
        float: left;
        margin: -5px 0;
        width: auto;
        &:focus {
          outline: none;
          svg {
            path {
              fill: $color5;
            }
          }
        }
        &:hover {
          strong {
            color: $color5;
          }
          svg {
            path {
              fill: $color5;
            }
          }
        }
        strong {
          color: darken($color1, 20%);
          font-size: 0.7em;
          text-transform: uppercase;
          letter-spacing: 1px;
          position: absolute;
          left: 2.5em;
          top: 1em;
          transition: all 100ms ease-in-out;
        }
        svg {
          float: left;
          height: 1.5em;
          width: 1.5em;
          cursor: pointer;
          margin: 0.5em 0;
          path {
            transition: all 100ms ease-in-out;
            fill: darken($color1, 20%);
          }
        }
        &.active {
          svg {
            path {
              fill: $color5;
            }
          }
        }
      }
      .sidebar__favourite--remove {
        svg {
          path {
            fill: $color5;
          }
        }
      }
      .sidebar__close {
        cursor: pointer;
        &:focus {
          outline:none
        }
        &:hover {
          svg {
            path {
              fill: $color3;
            }
          }
        }
        svg {
          path {
            fill: $color2;
            transition: color 100ms ease-in-out;
          }
        }
      }
    }
    .color1, .color2, .color3, .color4 {
      padding: 10px;
      @media (max-height: 768px) {
        padding: 5px 10px;
        &:first-child {
          padding: 10px 10px 5px 10px;
        }
      }
      .color {
        width: 100%;
        height: 100px;
        box-shadow: 0 0 25px rgba(0,0,0,0.3);
        @media (max-height: 768px) {
          height: 50px;
        }
        @media (max-height: 520px) {
          height: 20px;
        }
      }
      .hex, .rgb {
        color: darken($color1, 30%);
        font-size: 0.75em;
        line-height: 1em;
        span {
          color: $color2;
          font-size: 1rem;
        }
      }
    }
  }
}
