.content {
  width: calc(100vw - 200px);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .palette {
    width: 20%;
    height: 65px;
    margin: 2.5%;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    .color {
      width: 65px;
      height: 65px;
    }
  }
}
