body {
  transition: background 400ms ease-in-out;
  @media (max-width: 700px) {
    background: $color1;
  }
}

.content {
  width: calc(100vw - 200px);
  padding-bottom: 50px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  &.menu--active {
    width: calc(100vw - 400px);
    @media (max-width: 650px) {
      width: calc(100vw - 200px);
    }
  }
  @media (max-width: 650px) {
    width: 100vw;
    margin-left: 0;
    margin-top: 60px;
  }

  .palette {
    background: transparentize(white, 0.8);
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    height: auto;
    margin: 20px 2.5%;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 100ms ease-out;
    cursor: pointer;
    position: relative;
    backface-visibility: hidden;
    &:hover {
      transition: all 100ms ease-in;
      box-shadow: 0 10px 40px rgba(0,0,0,0.55);
    }
    @media (max-width: 1900px) {
      width: 20%;
      margin: 20px 2.5%;
    }
    @media (max-width: 1500px) {
      width: 28.3333333333%;
    }
    @media (max-width: 1100px) {
      width: 45%;
    }
    @media (max-width: 700px) {
      width: 95%;
    }
    .color {
      width: 25%;
      height: 150px;
    }
    #favourite {
      position: absolute;
      top: -12px;
      left: -12px;
      path {
        fill: $color5;
      }
      #dropshadow {
        filter: blur(20px) grayscale(20%);
      }
    }
  }
  .palette__details {
    background: $color1;
    height: 100vh;
    width: 200px;
    z-index: 2;
    position: fixed;
    top: 0;
    right: -200px;
    transition: all 200ms ease-out;
    overflow-y: hidden;
    &.active {
      right: 0;
      box-shadow: -10px 0 25px rgba(0,0,0,0.15);
      transition: all 150ms ease-in;
    }
    .button {
      margin: 20px;
      display: block;
      font-size: 0.87rem;
    }
    hr {
      border: 0;
      background: darken($color1, 20%);
      height: 1px;
    }
    .top {
      padding: 10px 10px 0 10px;
      margin-bottom: 10px;
      text-align: right;
      position: relative;
      border-bottom: 1px solid darken($color1, 20%);
      @media(max-width: 700px) {
        margin-top: 70px;
      }
      .sidebar__favourite--add,
      .sidebar__favourite--remove {
        background: none;
        padding: 0;
        float: left;
        margin: -5px 0;
        width: auto;
        &:focus {
          outline: none;
          svg {
            path {
              fill: $color5;
            }
          }
        }
        &:hover {
          strong {
            color: $color5;
          }
          svg {
            path {
              fill: $color5;
            }
          }
        }
        strong {
          color: darken($color1, 20%);
          font-size: 0.7em;
          text-transform: uppercase;
          letter-spacing: 1px;
          position: absolute;
          left: 3em;
          top: 1.8em;
          transition: all 100ms ease-in-out;
        }
        svg {
          float: left;
          height: 1.5em;
          width: 1.5em;
          cursor: pointer;
          margin: 0.5em 0;
          path {
            transition: all 100ms ease-in-out;
            fill: darken($color1, 20%);
          }
        }
        &.active {
          svg {
            path {
              fill: $color5;
            }
          }
        }
      }
      .sidebar__favourite--remove {
        svg {
          path {
            fill: $color5;
          }
        }
      }
      .sidebar__close {
        cursor: pointer;
        &:focus {
          outline:none
        }
        svg {
          path {
            fill: darken($color1, 20%);
          }
        }
        &:hover {
          svg {
            path {
              fill: $color3;
            }
          }
        }
        svg {
          path {
            fill: $color2;
            transition: color 100ms ease-in-out;
          }
        }
      }
    }
    .color1, .color2, .color3, .color4 {
      padding: 5px 20px;
      @media (max-height: 830px) {
        padding: 5px 10px;
        &:first-child {
          padding: 10px 10px 5px 10px;
        }
      }
      .color {
        width: 100%;
        height: 100px;
        box-shadow: 0 0 25px rgba(0,0,0,0.3);
        @media (max-height: 830px) {
          height: 50px;
        }
        @media (max-height: 630px) {
          height: 20px;
        }
      }
      .hex, .rgb {
        color: darken($color1, 30%);
        font-size: 0.75em;
        line-height: 1em;
        span {
          color: $color2;
          font-size: 1rem;
        }
      }
    }
  }
}
