.content {
  width: calc(100vw - 200px);
  height: 100%;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  transition: background 400ms ease-in-out;
  @media (max-width: 650px) {
    width: 100vw;
    margin-left: 0;
  }

  .palette {
    width: 9.5%;
    height: 65px;
    margin: 1.5%;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 100ms ease-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: all 100ms ease-in;
      box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    }
    @media (max-width: 2200px) {
      width: 11.2857142857%;
    }
    @media (max-width: 1900px) {
      width: 13.6666666667%;
    }
    @media (max-width: 1500px) {
      width: 20%;
      margin: 2.5%;
    }
    @media (max-width: 1200px) {
      width: 28.3333333333%;
    }
    @media (max-width: 900px) {
      width: 45%;
    }
    @media (max-width: 650px) {
      width: 95%;
    }
    .color {
      width: 25%;
      height: 65px;
    }
  }
}
