$bg-color: $color1;
$text-color: $color2;
$highlight-color: $color3;


.dialog {
  z-index: 22;
  background: $bg-color;
  width: 50%;
  position: absolute;
  left: calc(50% - 25%);
  top: 0;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 10px 30px rgba($text-color,0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 180ms cubic-bezier(0.5,-0.75,0.5,0.75);
  @media (max-width: 600px) {
    width: 90%;
    left: calc(50% - 45%);
  }
  &.dialog--active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms cubic-bezier(0.5,2,0.5,0.75);
  }
  .dialog__close {
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 15px;
    transition: color 150ms ease;
    &:hover {
      color: $highlight-color;
    }
  }
  .dialog__title {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid $text-color;
    @media(max-width: 650px) {
      font-size: 1.3rem;
    }
  }
  .dialog__content {
    font-size: 1rem;
    line-height: 2rem;
    margin: 3rem 0;
    a {
      color: $color3;
    }
  }
  .dialog__action {
    margin: 0;
    font-size: 1rem;
  }
}
