input[type="text"] {
  width: 47.5%;
  margin: 20px 0;
  display: inline-block;
  padding: 10px;
  @media (max-width: 650px) {
    width: 100%;
  }
  &:first-child {
    margin-right: 4%;
  }
  &:nth-child(3) {
    margin-right: 4%;
  }
}

button {
  background: $color3;
  color: $color1;
  border: 0;
  padding: 15px 25px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  @media (max-width: 650px) {
    width: 100%;
  }
  &:hover {
    background: darken($color3, 10%);
  }
}
