.navigation {
  background: $color1;
  width: 200px;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  box-shadow: 10px 0 25px rgba(0,0,0,0.07);
  position: fixed;
  z-index: 3;
  @media (max-width: 650px) {
    display: none;
  }

  .navigation__logo {

  }

  .navigation__title {
    font-size: 1.5em;
    span {
      font-size: 0.7em;
      color: darken($color1, 30%);
    }
  }

  .navigation__items {
    margin-top: 50px;
    padding: 0 40px;
    a {
      color: darken($color1, 40%);
      display: block;
      text-align: left;
      padding: 10px 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &.selected {
        color: $color3;
      }
    }
  }


  .navigation__footer {
    margin-top: 50px;
    padding: 0 40px;
    text-align: left;
    .bg__color {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: red;
      display: inline-block;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      transition: all 100ms ease-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 5px 20px rgba(0,0,0,0.10);
        transition: all 100ms ease-in;
      }
      &.light {
        background: $color1;
      }
      &.dark {
        background: $color2;
      }
      &.blue {
        background: $color3;
      }
      &.red {
        background: $color4;
      }
      &.yellow {
        background: $color5;
      }
    }
  }
}
