body {
  font-family: $regular;
  font-size: 16px;
  color: $color2;
}

// Avoid FOUT when using Typekit
body {
  opacity: 0;
}
.wf-active {
  body {
    opacity: 1;
    transition: all .4s ease-in-out;
  }
}
